*{padding: 0px;
    margin:0px;
}
html,body
{
    margin:0px; height:100%;
}
html{
    height:100%;
    background-color: #f0f8ff;
}
.house_status{

    min-height:400px;
}
.house_status::before,.house_status::after{
    content: " ";
    display: table;

}
.house_status::after{
    clear: both;
}

.house_status1{

    min-height:400px;
}
.house_status1::before,.house_status1::after{
    content: " ";
    display: table;

}
.house_status1::after{
    clear: both;
}
.dw{
    position: fixed;
}
.left_navigation{
    font-size: 20px;
    font-family: "微软雅黑";
    background-color: aliceblue;

    float:left;
    width: 16%;
    /*height:100%;*/
    overflow-y:scroll;
    overflow-x:hidden;
    left:0;
    top:60px;
    bottom:64px;
}

.left_navigation i{
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.left_navigation a{
    display:block;
    color: #666666;
    text-align: center;

}
.left_navigation a:active {
    color:#666666; }
.house a{
    height:45px;
    line-height: 45px;
}
.floor{
    height:33px;
}
.floor a{
    height:33px;
    line-height: 33px;
}
.left_navigation ul,.left_navigation li{
    padding: 0px;
    margin:0px;
}
.house{
    height:45px;
    font-size: 23px;
    line-height: 45px;
}
.left_navigation a:hover{
    background-color: #a0bdff;
}
.left_navigation::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.left_navigation::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.left_navigation::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.left_navigation button{
    position:relative;
    padding: 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-align:left;
    height: 45px;
    margin-left: 5px;/*左移*/
/*消除button的默认样式*/
    border: 0;
    background-color: transparent;
    outline: none;    /*消除默认点击蓝色边框效果*/
    color: #6395ff;
}
.xiugai:hover {
    cursor:pointer;
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
}
.finger{
    cursor:pointer;
}

.zxt{
    height: 20px;
}