/*弹出层*/
#glygl {
    display: none;
    background-color: #eaeaea;
    z-index: 11;
    width: 50%;
    position:fixed;
    top:15%;
    right:0;
    left:0;
    height: 475px;
    margin:auto;
}

#glygl .close{
    text-align: right;
    margin-right: 5px;
    background-color: #eaeaea;
}

/*关闭按钮*/
#glygl .close a {
    text-decoration: none;
    color: #2D2C3B;
}



/*新建管理员背景层*/
#popLayer2 {
    position:fixed;
    display: none;
    background-color: #B3B3B3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity:.80;
    height: 100%;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
/*新建管理员弹出层*/
#xjglypopBox {
    display: none;
    background-color: #eaeaea;
    z-index: 11;
    width: 400px;
    position:fixed;
    top:15%;
    right:0;
    left:0;
    height: 300px;
    margin:auto;
}

#xjglypopBox .close{
    text-align: right;
    margin-right: 5px;
    background-color: #eaeaea;
}

/*关闭按钮*/
#xjglypopBox .close a {
    text-decoration: none;
    color: #2D2C3B;
}




.ys{
background-color:#a4d9ee;
}
.qrxg{

    margin: 0;
    padding: 2px;
    border: 1px solid transparent;
    outline: none;

    border-radius:5px 5px;
    background-color: #eaeaea;
}
.qrxg:hover{
    cursor: pointer;
    background-color: #4a95ee;
}
.kp{
    border: 2px solid #85afdf;
    border-radius:5px 5px;
    width:60%;
}
.dx{
    width: 20%;
}


/*增删房间弹出层*/
#zsfjtc {
    display: none;
    background-color: #eaeaea;
    z-index: 11;
    width: 50%;
    position:absolute;
    top:20%;
    right:0;
    left:0;
    min-height: 193px;
    margin:auto;
}

#zsfjtc .close{
    text-align: right;
    margin-right: 5px;
    background-color: #eaeaea;
}

/*关闭按钮*/
#zsfjtc .close a {
    text-decoration: none;
    color: #2D2C3B;
}


/*弹出层*/
#xgzjtc {
    display: none;
    background-color: #eaeaea;
    z-index: 11;
    width: 260px;
    height: 200px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#xgzjtc .close{
    text-align: right;
    margin-right: 5px;
    background-color: #eaeaea;
}

/*关闭按钮*/
#xgzjtc .close a {
    text-decoration: none;
    color: #2D2C3B;
}
